@font-face{
    font-family: "mplus-1c-light";
    src: url(font/mplus-1c-light.ttf);
}

@font-face{
    font-family: "mplus-1c-regular";
    src: url(font/mplus-1c-regular.ttf);
}

/*font-family: 'Dosis', sans-serif;　とりあえず瑞風*/

.wf-roundedmplus1c { font-family: "Rounded-L Mplus 1c"; }

* {
-webkit-appearance: none;
}

span.transform{
    display: inline-block; 
    transform: scale(0.8,1);
    margin: 0px;
    padding: 0px;
}

span.transform_min{
    display: inline-block; 
    transform: scale(0.6,1);
    margin: 0px;
    padding: 0px;
}

div.TITLE-BOARD {
    width: 1000px;
    height: 350px;
    background-color: #111111;
    margin: auto;
}
span.cubettl{
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    color:#ffffff;
    font-size: 80%;
}

div.text-narrow {
    transform: scale(0.7, 1);
    display: inline-block;
}

/*Safariのみ見え方が異なるため、ハックで調整*/
body:last-child:not(:root:root) .cubettl {
padding-top:0px;
padding-bottom:1px;
}

div.HOMENUM {
    width: 200px;
    height: 280px;
    float:left;
    position: relative;
    background-color: #111111;
    margin: auto;
}

div.HOMENUM img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  margin: auto;
}

td.led {
width:auto;
position:relative;
}

td.led:after{
    content:' ';
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background:url("bg-led.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    -webkit-background-size:2.6px 2.6px;
    -moz-background-size:2.6px 2.6px;
    -ms-background-size:2.6px 2.6px;
    -o-background-size:2.6px 2.6px;
    background-size:2.6px 2.6px;
    z-index:15;
}

div.BOARD-CONTENTS {
    width: 800px;
    float: right;
    background-color: #111111;
    height:280px;
    margin: auto;
}

body{
 margin:0;
 /*background-color: #222222;*/

}
div.SITE_WIDTH {
	width: 1000px;
	margin: auto;
	/*font-family: "Rounded Mplus 1c", sans-serif;*/
    font-family: "mplus-1c-light";
    margin: auto;
}
p.title {
    width: 1000px;
	font-size: 150%;
	font-family: "Noto Sans Japanese";
    background-color:#ffffff;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-left: 3px solid black;
    padding-bottom: 10px;
    color: #000000;
    margin-bottom: -20px;
}
p.title_underbar{
    width: 1000px;
    font-size: 80%;
    font-family: "Noto Sans Japanese";
    background-color:#227ac2;
    padding: 0px;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    color: #ffffff;
}
div.electric-bored{
    background-color: #111111;
}

div.MAIN {
    float: center;
    width: 1000px;
    height: 750px;
    font-family: "mplus-1c-light" ,sans-serif;
    /*background-color: #111111;*/
    padding: 5px;
    margin: auto;
    display:block;
}

div.category{
    font-family: 'mplus-1c-regular';
    float: left;
    padding: 3px;
}

div.SELECT_SPACE {
	float: left;
	width: 640px;
    height: 500px;
	font-family: "mplus-1c-light";
    color: #000000;
    text-align: center;
    font-size: 90%;
	margin: 0;
}
div.SELECT_SPACE select{
    color: #000000;
    font-family: "mplus-1c-light";
    background-color: #ffffff;
    border-color: #cccccc;
    margin: auto;
    padding: auto;
}
div.WORKSPACE {
	float: right;
	width: 340px;
    height: 500px;
	font-family: "mplus-1c-light";
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    font-size: 90%;
	margin: 0;
}
div.WORKSPACE textarea{
    font-family: "mplus-1c-light";
    color: #ffffff;
    background-color: #000000;
}

div.BUTTON_S {
    width: 1000px;
    height: 120px;
    display:block;
}

div.EXPRENATION {
    float: center;
    width: 1000px;
    font-family: "mplus-1c-light";
    margin: 0;
    display:block;
    color: #000000;
    background-color: #ffffff;
}
h2{
    color: #ffffff;
    background-color:#66b04c;
}
h3.HOWTOUSE{
    color: #ffffff;
    font-family: "mplus-1c-light";
    background-color: #007f00;
}
h3.ATTENTION{
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #827f00;
}
table.EXAMPLE{
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #111111;
}
div.scr {
  overflow: scroll;
  width: 350px;
  height: 120px;
  background-color: #111111;
  border: 0.5pt color:#f9efdd;
}

div.update{
    overflow: scroll;
    width: 100%;
    height: 200px;
    background-color: #000000;
    border: 0.5pt color:#f9efdd;
    width:auto;
    position:relative;
}

h2.INFOMATION{
    color: #ffffff;
    background-color: #7f0000;
}
table.update {
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
}
h3.CONTACT{
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #7f007f;
}
h2.ABOUT {
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #007f00;

}
h2.ENV {
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #827f00;
}
h2.source {
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #827f00;
}
h2.ongen {
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #827f00;
}
div.chui {
    background-color: #CCCCCC;
    color: #000000;
}
h2.niji {
    color: #ffffff;
    font-style: 'Rounded Mplus 1c', sans-serif;
    background-color: #7f0000;
}
input[type="button"]#add{
    width:160px;
    height: 35px;
    font-size:24px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ed3948;
    border: 0px;
    border-radius:10px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:20px;
    margin-left: 20px;
}
input[type="button"]#add:hover{
    width:160px;
    font-size:24px;
    height: 35px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ff5362;
    border: 0px;
    border-radius:10px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:20px;
    margin-left: 20px;
}

input[type="button"]#announceStartButton{
    width:100px;
    height: 35px;
    font-size:16px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ed3948;
    border: 0px;
    border-radius:10px;
    margin: 10px
}
input[type="button"]#announceStartButton:hover{
    width:100px;
    height: 35px;
    font-size:16px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ff5362;
    border: 0px;
    border-radius:10px;
    margin: 10px
}

input[type="button"]#ResetButton{
    width:80px;
    height: 35px;
    font-size:16px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ff7f00;
    border: 0px;
    border-radius:10px;
    margin: 10px
}
input[type="button"]#ResetButton:hover{
    width:80px;
    height: 35px;
    font-size:16px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#f8b02a;
    border: 0px;
    border-radius:10px;
    margin: 10px
}

input[type="submit"]#SaveButton{
    width:60px;
    height: 35px;
    font-size:16px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ed3948;
    border: 0px;
    border-radius:20px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:20px;
    margin-left: 20px;
}
input[type="submit"]#SaveButton:hover{
    width:60px;
    font-size:16px;
    height: 35px;
    text-decoration:none;
    display:inline;
    text-align:center;
    padding:auto;
    color:#fff;
    background-color:#ff5362;
    border: 0px;
    border-radius:20px;
    margin-top: 10px;
    margin-bottom:10px;
    margin-right:20px;
    margin-left: 20px;
}